body {
  padding: 20px;
}
.list-section{
  margin-top: 20px;
}
.list-section img{
  width: 80%;
  margin:0 auto;  
  display: block;
}
.recent-grid{
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: row;
}